
.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15em;
  padding-top: 10em;
  /* border-top: 0.8px solid #ccc; */
}

.icons_container {
  position: relative;
  bottom: 2em;
  display: flex;
  width: 10%;
  justify-content: space-between;
  align-items: center;
}

.hallyu_line {
  position: relative;
  bottom: 1.5em;
}

.footer_info_container {
  position: relative;
  bottom: 8.5em;
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.info_contents {
  position: relative;
  right: 26.9em;
  bottom: 8em;
  display: flex;
  flex-direction: column;
}

.reviews {
  margin-bottom: 0.3em;
  width:fit-content;
}

.reviews:hover {
  cursor: pointer;
  border-bottom: 1px solid #595959;
}

.returns {
  margin-bottom: 0.3em;
  width:fit-content;
}

.returns:hover {
  cursor: pointer;
  border-bottom: 1px solid #595959;
}

.shipping {
  margin-bottom: 0.3em;
  width:fit-content;
}

.shipping:hover{
  cursor: pointer;
  border-bottom: 1px solid #595959;
}

.contacts {
  margin-bottom: 0.3em;
  width:fit-content;
}

.contacts:hover{
  cursor: pointer;
  border-bottom: 1px solid #595959;
}

.footer_info {
  border-bottom: 1px solid #595959;
}

.footer_faq {
  border-bottom: 0.8px solid #595959;
}

.footer_help {
  border-bottom: 0.8px solid #595959;
}

.instagram_icon:hover {
  cursor: pointer;
}

.facebook_icon:hover {
  cursor: pointer;
}

.twitter_icon:hover {
  cursor: pointer;
}

.linked_icon:hover {
  cursor: pointer;
}