/* TABS */
.tabs_container {
  width: 105%;
  margin-top: -1em;
  margin-left: -1em;
  box-shadow: 0px 15px 10px -20px gray;
}


/* NEW ARRIVALS */
.new_arrivals {

}

.new_arrivals:hover {
  cursor: pointer;
  border-bottom: 1.2px solid black;
}

/* ACCESSORIES */
.accessories {

}

.accessories:hover {
  cursor: pointer;
  border-bottom: 1.2px solid black;
}

/* MEN */
.men {

}

.men:hover {
  cursor: pointer;
  border-bottom: 1.2px solid black;
}

/* WOMEN */
.women {

}

.women:hover {
  cursor: pointer;
  border-bottom: 1.2px solid black;
}

/* BEAUTY */
.beauty {

}

.beauty:hover {
  cursor: pointer;
  border-bottom: 1.2px solid black;
}


/* SALE */
.sale {

}

.sale:hover {
  cursor: pointer;
  border-bottom: 1.2px solid black;
}