
.december_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.december_item_container {
  margin: 1em;
}

.december_item_container:hover {
  cursor: pointer;
}

.see_all {
  border-bottom: 0.8px solid #595959;
}

.see_all:hover {
  cursor: pointer;
}