/* NAVBAR */
.nav_bar {
  display: flex;
  align-items: center;
  padding-bottom: 2em;
  width: 100%;
  border-bottom: 0.8px solid #ccc;
}

/* SEARCH */
.search_container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.7px solid #ccc;
  margin-right: 1em;
  margin-left: 3em;
  height: 1.6em;
  border-radius: 15px;
  width: 17em;
}

.search_bar {
  border: none;
  background: transparent;
  margin: 0;
  margin-left: 0.5em;
  font-size: 12.5px;
  width: 100%;
}

.search_icon {
  margin-right: 0.5em;
}

.search_icon:hover {
  cursor: pointer;
}

/* LOGO */
.logo {
  margin-left: 2em;
  height: 75px;
}


/* LEFT NAV */
.left_nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 18em;
  width: 30%;
}

/* ACCOUNT */
.nav_account {
  padding-right: 1em;
  font-weight: 200;
}

.account_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.account_container:hover {
  cursor: pointer;
}

.account_icon {
  margin-right: 0.5em;
}

/* FAVORITES */
.favorites_icon {
  margin-right: 1em;
}

.favorites_icon:hover {
  cursor: pointer;
}


/* CART */
.nav_cart {
  font-weight: 200;
}

.cart_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart_container:hover {
  cursor: pointer;
}

.cart_icon {
  margin-right: 0.5em;
}