
.new_in_container {
  /* border: 1px solid blue; */
}


.newIn_container {
  /* border: 1px solid red; */
  width: 74%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5em;
  padding-bottom: 8em;
}

.newIn_item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
}

.newIn_item:hover {
  cursor: pointer;
}

.react-multiple-carousel__arrow--left {
  left: 0.1em;
}

.react-multiple-carousel__arrow--right {
  right: 0.1em;
}

.newIn_info {
}

.explore {
  border-bottom: 0.8px solid #595959;
}

.explore:hover {
  cursor: pointer;
}